<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
</head>

<style>
    div {
        display: flex;
        flex-direction: column;
        align-items: center; /* Optional: Align items in the center horizontally */
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #timeInput {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

</style>

<body>

    <div>
        <h1>Welcome to Game!</h1>
        <p id="timerDisplay">Time Remaining: __</p>
        <img id="gameImage" src="https://www.w3schools.com/images/colorpicker2000.png" alt="Cover Art"></img>
        <a href='/test'>
            <button type="button">Sign In</button>
        </a>
        <button onclick="startGame()">Start Game</button>
        <h3 id="feedback"></h3>
        <h3 id="question"></h3>
        <audio id="audioPreview" hidden src=""></audio>
        <button onclick="nextSong()">Submit</button>
        <label for="allInput"></label>
        <input id="allInput" type="text">
    </div>

    <script>

        function getRandomInt(min, max) {
          min = Math.ceil(min);
          max = Math.floor(max);
          return Math.floor(Math.random() * (max - min) + min); // The maximum is exclusive and the minimum is inclusive
        }

        let song_previews;
        let song_artists;
        let song_images;
        let song_dates;
        let song_names;
        let index = 0;
        // Initialize variables
        let timerInterval;
        let seconds = 0;
        let questionType = getRandomInt(0, 3);

        function changeImage() {
            document.getElementById('gameImage').src = song_images[index];
        }

        function startGame() {
            startTimer()
            fetch('/test_user_data')
                .then(response => response.json())
                .then(data => {

                    song_previews = data.previews;
                    song_artists = data.artists;
                    song_images = data.covers;
                    changeImage();
                    song_dates = data.dates;
                    song_names = data.random_songs;

                    console.log(song_dates);
                    console.log(song_artists);
                    console.log(song_names);

                    const audioElement = document.getElementById('audioPreview');
                    audioElement.src = data.previews[0];
                    audioElement.load();
                    audioElement.play();
                })
            updateQuestion();
        }

        function updateQuestion() {
            if(questionType === 0) {
                document.getElementById("question").innerText = 'Guess the Artist';
            } else if(questionType === 1) {
                document.getElementById("question").innerText = 'Guess the Song Title';
            } else {
                document.getElementById("question").innerText = 'Guess the Year This Song was Released';
            }
        }

        function removeNonAlphanumeric(inputString) {
            return inputString.replace(/[^a-zA-Z0-9]/g, '');
        }

        function correctAnswer() {

            if(questionType === 0) {
                if(removeNonAlphanumeric(document.getElementById("allInput").value.toString().toLowerCase())  === removeNonAlphanumeric(song_artists[index].toString().toLowerCase())) {
                    document.getElementById("allInput").value = "";
                    return true;
                }
            } else if(questionType === 1) {
                if(removeNonAlphanumeric(document.getElementById("allInput").value.toString().toLowerCase())  === removeNonAlphanumeric(song_names[index].toString().toLowerCase())) {
                    document.getElementById("allInput").value = "";
                    return true;
                }
            } else {
                if(removeNonAlphanumeric(document.getElementById("allInput").value.toString().toLowerCase()) === removeNonAlphanumeric(song_dates[index].slice(0, 4).toString().toLowerCase())) {
                    document.getElementById("allInput").value = "";
                    return true;
                }
            }

            document.getElementById("allInput").value = "";
            return false;
        }

        function nextSong() {

            if(correctAnswer()) {
                document.getElementById("feedback").innerText = "Success!";

                console.log("Success!");
                document.getElementById("feedback").style.color = 'green';

                questionType = getRandomInt(0, 3);
                document.getElementById("allInput").innerText = '';

                index += 1;
                updateQuestion();
                changeImage();

                if (index < 10) {
                    const audioElement = document.getElementById('audioPreview');
                    console.log(song_previews[index]);
                    audioElement.src = song_previews[index];
                    audioElement.load();
                    audioElement.play();
                } else {
                    console.log('over');
                    fetch('/get_high_score')
                        .then(response => response.json())
                        .then(data => {
                            console.log('in here');
                            let high_score = data.high_score;
                            console.log(high_score);
                            let string = '/new_score/' + seconds;
                            if(high_score > seconds) {
                                console.log('new high score!');
                            }
                            fetch(string)
                        });


                }

            } else {
                document.getElementById("feedback").innerText = "Incorrect, please try again.";
                document.getElementById("feedback").style.color = 'red';
            }
        }



        // Function to update the timer display
        function updateTimerDisplay() {
            document.getElementById("timerDisplay").textContent = "Timer: " + seconds + " seconds";
        }

        // Function to start the timer
        function startTimer() {
            // Clear any existing interval
            clearInterval(timerInterval);

            // Reset seconds
            seconds = 0;

            // Update the display immediately
            updateTimerDisplay();

            // Start the timer interval (update every second)
            timerInterval = setInterval(function() {
                seconds++;
                updateTimerDisplay();
            }, 1000);
        }
    </script>
</body>
</html>


