<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
</head>

<style>
    div {
        display: flex;
        flex-direction: column;
        align-items: center; /* Optional: Align items in the center horizontally */
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #timeInput {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

</style>

<body>

    <div>
        <h1>Welcome to Game!</h1>
        <p id="timerDisplay">Time Remaining: __</p>
        <img id="gameImage" src="https://www.w3schools.com/images/colorpicker2000.png" alt="Cover Art"></img>
        <a href='/test'>
            <button type="button">Sign In</button>
        </a>
        <button onclick="changeImage()">next</button>
        <button onclick="testUser()">Start Game</button>

        <h3 id="feedback"></h3>
        <h3 id="question"></h3>
        <audio id="audioPreview" hidden src=""></audio>
        <button onclick="nextSong()">Next Song</button>
        <button onclick="testScore()">add score</button>
        <label for="allInput"></label>
        <input id="allInput" type="text"></input>
<!--        <div id="timeInput">-->
<!--&lt;!&ndash;            <input type="number" id="timeInputMinutes"></input>&ndash;&gt;-->
<!--&lt;!&ndash;            :&ndash;&gt;-->
<!--&lt;!&ndash;            <label for="timeInputSeconds"></label>&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="number" id="timeInputSeconds"></input>&ndash;&gt;-->
<!--        </div>-->
    </div>

    <script>

        function getRandomInt(min, max) {
          min = Math.ceil(min);
          max = Math.floor(max);
          return Math.floor(Math.random() * (max - min) + min); // The maximum is exclusive and the minimum is inclusive
        }

        let song_previews;
        let song_artists;
        let song_images;
        let song_dates;
        let index = 0;
        // Initialize variables
        let timerInterval;
        let seconds = 0;
        let questionType = getRandomInt(0, 3);

        function changeImage() {
            // Make an AJAX request to Flask to get a new image URL
            fetch('/get_new_image')
                .then(response => response.json())
                .then(data => {
                    // Update the image source with the new URL
                    document.getElementById('gameImage').src = data.new_image_url;
                });
        }

        function testUser() {
            startTimer()
            fetch('/test_user_data')
                .then(response => response.json())
                .then(data => {

                    song_previews = data.previews;
                    song_artists = data.artists;
                    song_images = data.covers;
                    song_dates = data.dates;

                    const audioElement = document.getElementById('audioPreview');
                    console.log(data.previews[0])
                    audioElement.src = data.previews[0]
                    audioElement.load();
                    audioElement.play();
                })
        }

        function testScore() {
            fetch('/new_score/3')
        }

        function correctAnswer() {
            if(questionType === 0) {

            } else if(questionType === 1) {

            } else {

            }

            return true;
        }

        function nextSong() {

            if(correctAnswer()) {
                document.getElementById("feedback").innerText = "Success!";

                console.log("Success!");
                document.getElementById("feedback").style.color = 'green';


                index += 1;

                if (index < 10) {
                    const audioElement = document.getElementById('audioPreview');
                    console.log(song_previews[index]);
                    audioElement.src = song_previews[index];
                    audioElement.load();
                    audioElement.play();
                } else {
                    console.log('over');
                    fetch('/get_high_score')
                        .then(response => response.json())
                        .then(data => {
                            console.log('in here');
                            let high_score = data.high_score;
                            console.log(high_score);
                            let string = '/new_score/' + seconds;
                            if(high_score > seconds) {
                                console.log('new high score!');
                            }
                            fetch(string)
                        });


                }

            } else {
                document.getElementById("feedback").innerText = "Incorrect, please try again.";
                document.getElementById("feedback").style.color = 'red';
            }

            questionType = getRandomInt(0, 3);
            document.getElementById("allInput").innerText = '';

            if(questionType === 0) {
                document.getElementById("question").innerText = 'Guess the Artist';
            } else if(questionType === 1) {
                document.getElementById("question").innerText = 'Guess the Song Title';
            } else {
                document.getElementById("question").innerText = 'Guess the Year This Song was Released';
            }


        }



        // Function to update the timer display
        function updateTimerDisplay() {
            document.getElementById("timerDisplay").textContent = "Timer: " + seconds + " seconds";
        }

        // Function to start the timer
        function startTimer() {
            // Clear any existing interval
            clearInterval(timerInterval);

            // Reset seconds
            seconds = 0;

            // Update the display immediately
            updateTimerDisplay();

            // Start the timer interval (update every second)
            timerInterval = setInterval(function() {
                seconds++;
                updateTimerDisplay();
            }, 1000);
        }
    </script>
</body>
</html>


